@import "./mocha.css";

* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12px;
  min-height: 0;
  margin: 0; 
}

#modules-left {
}



#modules-right {
}

window#waybar {
  background-color: rgba(30,30,46,0);
  margin: 0;
  padding: 0;
}

window#waybar>box{
  border-radius: 0.31rem;
  margin: 0 10px;
  margin-top: 3px;
  padding: 3px;
  background-color: rgba(17, 17, 27, 0.4);




  box-shadow: rgba(203, 166, 247, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

#workspaces {
  border-radius: .4rem;
  
  margin-left: 0;
  background-color: @surface0;
  margin-left: 1rem;

  border: 2px solid;
  border-color: @mauve;
  padding: 2px;
  background-color: rgba(17, 17, 27, 0.4);
}


#workspaces button {
  color: @mauve;
  border-radius: .31rem;
  padding-right: 0.8rem;
  padding-left: 0.48rem;
  border-color: transparent;
}

#workspaces button.active {
  color: #fff;
  border-radius: .31rem;
  color: @crust;
  padding-right: 1rem;
  padding-left: 0.6rem;
  background-color: @mauve;
  transition: all .1s linear;
}

#workspaces button.active:hover {
    color: @sapphire;
    border-radius: .31rem;
    background-color: @base;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: .31rem;
  /*background-color: @base;*/
}

#clock,
#battery,
#pulseaudio,
#network,
#custom-launcher,
#cpu,
#custom-cava_mviz,
#custom-powermenu,
#window{
  background-color: @surface0;
  padding: 0.3rem 0.8rem;
  border-radius: .31rem;
  padding: 5px 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  background-color: rgba(17, 17, 27, 0.8);
  border: 2px solid;
}

#clock {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @maroon;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 20px;
}


#custom-powermenu{
  margin-right: 0px;
  background-size:cover;
  border-radius: 0.31rem;
  
  color: @saphire;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
 
  
  border: 2px solid;
  padding: 0rem 2rem;
  border-color: @mauve;
}

#custom-powermenu:hover {
  background-image: none;
  background-color: @crust;
  transition: all .2s;
  color: @saphire;
}

#custom-launcher {
  border: 2px solid @mauve;

  margin-left: 0px;
  margin-right: 0px;
  border-radius: .31rem;
  background-color: @mauve;
  background-image: url("/home/crtvhlx/.config/waybar/img/kuromi-startup.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;

  color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#custom-launcher:hover {
  border-radius: .31rem;
  border-color: @mauve;
  background-image: none;
  background-color: rgba(17, 17, 27, 0.7);
  transition: all .2s;
  color: @saphire;
}

#workspaces button.urgent {
  color: @red;
}


#custom-cava_mviz{
  padding: 0 10px;
  color: @mauve;
  padding: 0 5px;
}

#window{
    color: @mauve;
    font-weight: bold;
    background-color: rgba(17, 17, 27, 0.4);
}
