@import "./mocha.css";

* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 17px;
  min-height: 0;
  margin: 0;
}

#modules-left {
}

#window{}

#modules-right {
}

window#waybar {
  background-color: rgba(30,30,46,0); 
}

#workspaces {
  border-radius: .31rem;
  margin: 5px;
  margin-left: 0;
  background-color: @surface0;
  margin-left: 1rem;
}


#workspaces button {
  color: @lavender;
  border-radius: .31rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
  border-color: transparent;
}

#workspaces button.active {
  color: #fff;
  border-radius: .31rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
  background-color: @surface1;
}

#clock,
#battery,
#pulseaudio,
#network,
#custom-launcher,
#cpu,
#custom-cava_mviz,
#custom-powermenu{
  background-color: @surface0;
  padding: 0.5rem 1rem;
  border-radius: .31rem;
  margin: 5px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#taskbar {
  background-color: @surface0;
  border-radius: .31rem;
  margin: 5px;
  margin-left: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
	font-size: 4px;
    padding: 0px;
    border-radius: .31rem;
    background-color: @surface0;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    padding-left: 12px;
    background-color: @surface1;
    padding-right: 12px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
    min-height: 9px; 
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    border-radius: .31rem;

    color: @sapphire;
    border-radius: .61rem;
    background-color: @surface1;
    border-color: @sapphire;
}

#clock {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @maroon;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 20px;
}


#custom-powermenu{
  margin-right: 20px;
  background-color: #ffffff;
  background-image: url("/home/crtvhlx/.config/waybar/img/kuromi-pwr.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  border-radius: 0.31rem;
  

  color: transparent;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#custom-powermenu:hover {
  border: 1px;
  border-color: @mauve;
  background-image: none;
  background-color: @crust;
  transition: all .2s;
  color: @saphire;
}

#custom-launcher {
  margin-left: 20px;
  margin-right: 0px;
  border-radius: .31rem;
  background-color: @mauve;
  background-image: url("/home/crtvhlx/.config/waybar/img/kuromi-startup.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;

  color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#custom-launcher:hover {
  border: 1px;
  border-radius: .31rem;
  border-color: @mauve;
  background-image: none;
  background-color: @crust;
  transition: all .2s;
  color: @saphire;
}

#workspaces button.urgent {
  color: @red;
}


#custom-cava_mviz{
  padding: 0 10px;
  color: @mauve;
  padding: 0 5px;
  background-color: @surface0;
}
